* {
    /*Tirar os elementos  de todas as <div>*/
    padding: 0px;
    margin: 0px;
    background-color: white;
}

#tabela {
    height: 800px;
    width: 500px;
    border: solid 1px #000000;
    float: left;

}

#pares {
    float: left;
    border: solid 1px #000000;
    height: 60px;
    width: 140px
}

#impares {
    float: right;
    padding-right: 30px;
    border: solid 1px #000000;
    height: 60px;
    width: 140px;
}

h1 {
    font-size: 1.5em;
    font-family: ROBOTO;
    padding-left: 16px;
}


h2 {
    font-family: ROBOTO;
    font-size: 1.4em;
    padding-left: 18px;;

}

#QTDimpares{
    width: 140px;
    height: 200px; 
    border: solid 1px #000000;
   
}

#QTDPares{
    width: 140px;
    height: 200px;   
 border: solid 1px #000000;
    
}